$secondaryColor:rgb(137, 28, 151);
$primaryColor:#313437;
$thirdColor:#FFFBFE;
$fourthColor:#FF69EB;
$fifthColor:#E0FF4F;


.navContainer{
    width:100%;
    height:100px;
    position:relative;
    background-color: $primaryColor;
}